<template name="LeagueList">
  <h1>Leagues</h1>

  <a class="help-text pull-right" alt="help text"><i class="fa fa-info"></i></a>

  <div class="instructions">
    <p>Click on a league to enter game information for that league.</p>
  </div>
  <hr>
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
      <h3 class="panel-title">My Leagues <span class="badge">{{cLeagues.count}}</span></h3>
    </div>

    <div class="panel-body">
      <!-- do we have leagues yet? -->
      {{#if cLeagues.count}}
        <!-- yes? - then show them -->
        <p>Here are all your leagues:</p>
        <ol class="league-list">
          <!-- loop through leagues -->
          {{#each cLeagues}}
            <li>
              <a href="{{pathFor 'LeagueShow'}}">{{leagueName}}</a>
              <a class="remove"><i class="fa fa-trash fa-2"></i></a>
            </li>
          {{/each}}
        </ol>
        <hr>
      {{else}}
        <a class="btn btn-default pull-right new-league">Add League</a>
        <!-- no teams - time to create them -->
        <p>You have not created any leagues yet. It's time for you to take the plunge and create a league.</p>
      {{/if}}
      <!-- did we create a league? -->
      {{#if sLeagueNew}}
        <a class="btn btn-default pull-left new-league">Add Another League</a>
        <a class="btn btn-default pull-right" href="{{pathFor 'GameEdit' _id=sGameId}}">Back To My Game</a>

      {{else}}

      {{/if}}

    </div>

  </div>
</template>

