<template name="GameEdit">
  <div class="panel panel-default">

    <div class="panel-heading">
      <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
      <h3 class="panel-title">Edit Game Info</h3>
    </div>
    <div class="panel-body">
      <p>Use the form below to edit your game information. Required fields are outlined in red.</p>
      <form id="editGameForm">

        <p class="form-group">{{formatDate cGame.gameDateTime}}
          <div class='input-group date date-time-picker'>
            <input type="text" name="gameDateTime" required class="form-control" placeholder="01/01/2016" value="111" />
            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </p>
        {{#if sLeagueId}}
          <div class="form-group">
            <label for="myLeagueName">League</label>
            <select class="form-control" id="myLeagueName" name="leagueName">
              {{#each cMyLeagues}}
                <option value="{{_id}}">{{leagueName}}</option>
              {{/each}}
            </select>
          </div>
        {{else}}

          <p>You need to <a href="{{pathFor 'LeagueList'}}">create a league</a>.</p>
        {{/if}}
        {{#if sSeasonId}}
          <div class="form-group">
            <label for="mySeasonName">Season</label>
            <select class="form-control" id="mySeasonName" name="seasonName">
              {{#each cMySeasons}}
                <option value="{{_id}}">{{seasonName}}</option>
              {{/each}}
            </select>
          </div>
        {{else}}

          <p>You need to <a href="{{pathFor 'SeasonList'}}">create a season</a>.</p>
        {{/if}}
        <p>
          <label class="sr-only">Opponent Name</label>
          <input type="text" required class="form-control" placeholder="Opponent Name" name="opponentName" value="{{cGame.opponentName}}">
        </p>
        <p>
          <label class="sr-only">Field Name</label>
          <input type="text" required class="form-control" placeholder="Field Name" name="fieldName" value="{{cGame.fieldName}}">
        </p>
        <p>
          <label>My Formation</label>
          <select class="form-control formation-choice-select">
            {{#if cGame.myFormation}}
              <option value="{{cGame.myFormation}}" selected>{{cGame.myFormation}}</option>
            {{/if}}
            <option value="4-4-2" checked>4-4-2</option>
            <option value="4-3-3-flat">4-3-3 Flat</option>
            <option value="3-4-3">3-4-3</option>
            <option value="3-6-1">3-6-1</option>
            <option value="3-4-2-1">3-4-2-1</option>
            <option value="4-5-1">4-5-1</option>
            <option value="5-2-2-1">5-2-2-1</option>
            <option value="4-3-3-tri">4-3-3 Triangle</option>
            <option value="3-5-2">3-5-2</option>
          </select>
        </p>
        <p>
          <label class="sr-only">Google Maps URL</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-link"></i></span>
            <input type="url" class="form-control" placeholder="Google Map Link" name="fieldUrl" value="{{cGame.fieldUrl}}">
          </div>
        </p>
        <div class="checkbox">
          <label>
            <input class="home-team-chkbox" type="checkbox" name="homeTeam"> We are the Home Team</label>
        </div>
        <a href="{{pathFor 'GameShow' _id=sGameId}}" class="btn btn-large btn-default pull-left">Back To Game Info</a>
        <button type="submit" class="btn btn-large btn-success pull-right">Update</button>
      </form>
    </div>
  </div>
</template>

