<template name="GameList">
  <h1>Games </h1>

  <a class="help-text pull-right" alt="help text"><i class="fa fa-info"></i></a>

  <div class="instructions">
    <strong>List of your team's games</strong>
    <p>Once you create a game you will see a link to view your game details. You can create multiple games.</p>
  </div>
  <hr>
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
      <h3 class="panel-title">My Games <span class="badge">{{cGames.count}}</span></h3>
    </div>
    <div class="panel-footer">
    </div>
    <div class="panel-body">
      {{#if sGameId}}
        <p>Here are all the games you created:</p>
        <ol class="game-list">
          {{#each cGames}}
            <li>
              <a href="{{pathFor 'GameShow'}}">{{formatDate gameDateTime}}</a>
              <a class="remove"><i class="fa fa-trash fa-2"></i></a>
            </li>
          {{/each}}
        </ol>
        <hr>
        <a class="btn btn-default pull-right new-game">Add Game</a>
      {{else}}
        <hr>
        <p>You have not created any games yet. Ready? Let's do this!</p>
        <a class="btn btn-default pull-right new-game">Add Game</a>
      {{/if}}
    </div>
  </div>
</template>

