<template name="GameNew">
  {{#if sGameNew}}
    <div class="panel panel-default">

      <div class="panel-heading">
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        <h3 class="panel-title">Add A Game</h3>
      </div>
      <div class="panel-body">
        <p>Use the form below to create your game. Required fields are outlined in red.</p>
        <form id="newGameForm">

          <p class="form-group">
            <div class='input-group date date-picker'>
              <input type="text" name="gameDate" required class="form-control" placeholder="01/01/2016" />
              <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </p>
          <p class="form-group">
            <div class='input-group date time-picker'>
              <input type="text" name="gameTime" required class="form-control" placeholder="4:30pm" />
              <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
              </span>
            </div>
          </p>
          {{#if sLeageCreated}}
            <p>
              <label class="sr-only">League Name</label>
              <input type="text" required class="form-control" placeholder="League Name" name="leagueName">
            </p>
          {{else}}
            <p>You need to <a href="#">create a league</a>.</p>
          {{/if}}
          {{#if sSeasonCreated}}
            <p>
              <label class="sr-only">Season Name</label>
              <input type="text" required class="form-control" placeholder="Season Name" name="seasonName">
            </p>
          {{else}}
            <p>You need to <a href="#">create a season</a>.</p>
          {{/if}}
          <p>
            <label class="sr-only">Opponent Name</label>
            <input type="text" required class="form-control" placeholder="Opponent Name" name="opponentName">
          </p>
          <p>
            <label class="sr-only">Field Name</label>
            <input type="text" required class="form-control" placeholder="Field Name" name="fieldName">
          </p>
          <p>
            <label class="sr-only">Google Maps URL</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-link"></i></span>
              <input type="url" class="form-control" placeholder="Google Map Link" name="fieldUrl">
            </div>
          </p>
          <div class="checkbox">
            <label>
              <input type="checkbox" name="homeTeam"> We are the Home Team</label>
          </div>
          <!-- <p>
            <label class="sr-only" for="homeTeamScore">Home Team Score</label>
            <input id="homeTeamScore" type="url" class="form-control" placeholder="URL to Logo" name="logoUrl">
          </p>
          <p>
            <label class="sr-only" for="awayTeamScore">Away Team Score</label>
            <input id="awayTeamScore" type="url" class="form-control" placeholder="URL to Logo" name="logoUrl">
          </p> -->
          <!-- goal scores dropdown with player roster of subs and starters only -->
          <!-- dropdown 'To Be Played', 'Final', 'Cancelled' with values 'TBP', 'FINAL', and 'CANCELLED' entered into db -->
          <!-- result: 3, 1, 0 (win, loss, draw) should be number (dropdown win, loss, draw and 3,0,1 values entered into db) -forfeit: true or false -->
          <!-- <p>
            <label for="pregameMessage">Pregame Message</label>
            <textarea id="pregameMessage" type="text" class="form-control" placeholder="Season Name"></textarea>
          </p>
          <p>
            <label for="postgameMessage">Postgame Message</label>
            <textarea id="postgameMessage" type="text" class="form-control" placeholder="Season Name"></textarea>
          </p> -->
          <button type="submit" class="btn btn-large btn-success pull-right">Submit Game Info</button>
        </form>
      </div>
    </div>
  {{/if}}
</template>

