//   ul.hover.game-day-yes-roster {
//   background-color: green;
//   border: 3px dashed #000;
//   color: #fff;
// }
// ul.hover.game-day-maybe-roster {
//   background-color: yellow;
//   border: 3px dashed #000;
//   color: #000;
// }
ol.hover.starting {
  background-color: $green;
  border: 3px dashed $black;
  color: $white;
}

ol.hover.subs {
  background-color: $yellow;
  border: 3px dashed $black;
  color: $black;
}
