<template name="SubList">
  <h1>Subs</h1>
  <!-- subs is array so use length -->
  <p><em>{{cSubs.length}} Substitutes</em></p>
  <p class="drop-status"></p>

  <ol class="subs">

    <!-- list the subs -->
    {{#if cSubs}}
      <!-- nested sub template with individual players -->
      {{#each cSubs}}
        <li id="{{@index}}">{{> SubItem this }} </li>
      {{/each}}
    {{else}}
      <li class="ui-droppable">Drop here to add a player not available for game day.</li>
    {{/if}}

  </ol>
</template>

