<template name="PlayerList">
  <h3 class="page-header">Players </h3>
  <h2>This is your Team Roster</h2>
    <p>When you are finished adding all your players <strong>(The max is 26</strong>), click the '<strong>Roster Completed</strong>' checkbox. Once you do that you will be give the option to create a game.</p>

  <hr>
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
      <h3 class="panel-title">Current Roster <span class="badge">{{cPlayers.count}}</span></h3>
    </div>
    <div class="panel-footer">
      <div class="checkbox">
        <label>
          <input type="checkbox" class="roster-complete"> Check this when you have completed adding all your players to your roster.
        </label>
      </div>
    </div>
    <div class="panel-body">

      <ol class="player-roster-list">
        {{#each cPlayers}}
          <li>{{> editableText collection="players" field="fullName"}}
            <a class="remove" href="#"><i class="fa fa-trash fa-2"></i></a>
          </li>
        {{/each}}
      </ol>
      {{#if sRosterComplete}}
        <hr>
        {{#if sGameId}}
          <a class="btn btn-default pull-right" href="{{pathFor 'GameList' _id=sTeamId}}">View My Games</a>
          <a class="btn btn-default pull-left" href="{{pathFor 'GameShow' _id=sGameId}}">View Current Game</a>
        {{else}}
          <a class="btn btn-default pull-right" href="{{pathFor 'GameList' _id=sTeamId}}">Create A Game</a>
        {{/if}}
      {{/if}}
    </div>
  </div>
</template>

<!-- this is just a roster with just player names that we can drag and drop -->
<template name="PlayerPlainList">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
      <h3 class="panel-title">Current Roster <span class="badge">{{cPlayers.count}}</span></h3>
    </div>
    <div class="panel-body">
      <ol class="roster">
        {{#if cPlayers.count}}
          {{#each cPlayers}}
            {{> PlayerItem}}
          {{/each}}
        {{else}}
          <li><a href="{{pathFor 'PlayerList' _id=sTeamId}}">Add Some Players</a></li>
        {{/if}}
      </ol>
    </div>

  </div>
</template>

<!-- this is just a roster with just player names that we can drag and drop -->
<template name="CompleteRoster">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
      <h3 class="panel-title">Current Roster <span class="badge">{{cPlayers.count}}</span></h3>
    </div>
    <div class="panel-body">
      <ol class="roster">
        {{#if cPlayers.count}}
          {{#each cPlayers}}
            {{> PlayerItem}}
          {{/each}}
        {{else}}
          <li><a href="{{pathFor 'PlayerList' _id=sTeamId}}">Add Some Players</a></li>
        {{/if}}
      </ol>
    </div>

  </div>
</template>

<!-- this is just a roster with just player names that we can drag and drop -->
<template name="PlayerGameReminderList">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
      <h3 class="panel-title">Current Roster <span class="badge">{{cPlayers.count}}</span></h3>
    </div>
    <div class="panel-body">
      <ol class="roster">
        {{#if cPlayers.count}}
          {{#each cPlayers}}
            {{> PlayerItem}}
          {{/each}}
        {{else}}
          <li><a href="{{pathFor 'PlayerList' _id=sTeamId}}">Add Some Players</a></li>
        {{/if}}
      </ol>
    </div>

  </div>
</template>

<template name="StarterSubList">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
      <h3 class="panel-title">Current Roster <span class="badge">{{cPlayers.count}}</span></h3>
    </div>
    <div class="panel-body">
      <ol class="roster">
        {{#if cPlayers.count}}
          {{#each cPlayers}}
            {{> PlayerItem}}
          {{/each}}
        {{else}}
          <li><a href="{{pathFor 'PlayerList' _id=sTeamId}}">Add Some Players</a></li>
        {{/if}}
      </ol>
    </div>

  </div>
</template>

