<template name="Home">
  <div class="container">
    <div class="row">
      <!-- if user is logged in -->
      {{#if currentUser }}
      <div class="col-sm-4 col-md-4">
        <!-- show user team they built with roster creator -->
        {{> PlayerList}}
      </div>
      <div class="col-sm-5 col-md-5">
        <div class="list-group">
          <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">4-4-2</h4>
            <p class="list-group-item-text">The strength you get is balance. You will get both a solid defense and attacks by the offense. The downside is the two center midfielders must be supported by the midfield. This is currently the most popular formation in soccer.</p>
          </a>
        </div>
        <div class="list-group">
          <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">4-3-3</h4>
            <p class="list-group-item-text">This formation gained fame by some of the great teams from the 1970s. The Netherlands and West Germany refer to this formation as the <strong>Total Soccer</strong> system.</p>
          </a>
        </div>
        <div class="list-group">
          <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">3-4-3</h4>
            <p class="list-group-item-text">This is an offensive formation with little thinking behind defensive. The downside is your team will be susceptible to counter attacks.</p>
          </a>
        </div>
        <div class="list-group">
          <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">3-6-1</h4>
            <p class="list-group-item-text">A complex formation that requires a lot of effort. If used improperly, the result could be devastating. If you don't believe me, ask anyone on the 1998 US Men's team. You're only going to have one forward so make sure he is ready to run.</p>
          </a>
        </div>
        <div class="list-group">
          <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">3-4-2-1</h4>
            <p class="list-group-item-text">This is a formation if you are in dire need of a goal or you just want to put massive pressure on the other team. The downside is you only have 3 defenders and you are highly vulnerable to counter attacks.</p>
          </a>
        </div>
        <!-- show the add player to roster form -->
        {{> PlayerAdd}}

        <!-- add form to add teams if no team exists -->
        {{> TeamAdd }}
        <!-- add form to add game if no game exists -->
        {{> GameAdd }}
      </div>
      <div class="col-sm-3 col-md-3">
        <!-- show user progress of their lineup creation -->
        {{> ProgressList}}
      </div>
      <!-- END 3 column -->
      <!-- if the user isn't logged in explain how the site works -->
      {{else}}
      <div class="col-sm-12 col-md-12">
        <!-- show basic site info if user is not logged in -->
        {{> NotLoggedIn}}
        <!-- end if for current user -->
      </div>
      <!-- end opening currentUser if -->
      {{/if}}
    </div>

    <!-- END row -->
  </div>
  <!-- END .container -->
</template>

