<template name="tNotLoggedIn">
  <div class="jumbotron">
    <div class="container">
      <h2>Create Your Soccer Lineup Fast</h2>
      <p>How Fast? Just follow these steps and you'll have it ready for your team in under 5 minutes.</p>
    </div>
  </div>
  <ol>
    <li>Login/Register</li>
    <li>Add your Team Info</li>
    <li>Add your Game Details</li>
    <li>Create Your Roster</li>
    <li>Choose Your Formation</li>
    <li>Drag you players to their starting positions on the field</li>
    <li>Drag your substitutes to the substitute list</li>
    <li>Drag the players not playing to the not playing list</li>
    <li>Share the link with your team.</li>
  </ol>
</template>

