<template name="TeamEdit">
  <h3 class="page-header">Edit Team</h3>
    <p>It's simple to make changes to your team details. Just enter the new info about your team in the form below and click the <strong>Update Team</strong> submit button.</p>
  <hr>
  <div class="panel panel-default">

    <div class="panel-heading">
      <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
      <h3 class="panel-title">{{cTeam.teamName}}</h3>
    </div>
    <div class="panel-body">

      <h4>Update Your Team Info</h4>
      <form id="edit-team-form">
        <div class="form-group">
          <label class="sr-only">Team Name</label>
          <input type="text" required class="form-control" placeholder="Team Name" name="teamName" value="{{cTeam.teamName}}">
        </div>
        <div class="form-group">
          <label class="sr-only">Coach Name</label>
          <input type="text" class="form-control" placeholder="Coach Name" name="coachName" value="{{cTeam.coachName}}">
        </div>
        <div class="form-group">
          <label class="sr-only">Coach Email</label>
          <div class="input-group">
            <span class="input-group-addon">@</span>
            <input type="email" class="form-control" placeholder="Coach Email" name="coachEmail" value="{{cTeam.coachEmail}}">
          </div>
        </div>
        <div class="form-group">
          <label class="sr-only">Logo URL</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-link"></i></span>
            <input type="url" class="form-control" placeholder="URL to Logo" name="logoUrl" value="{{cTeam.logoUrl}}">
          </div>
        </div>
        <div class="form-group">
          <label>Home Jersey Color</label>
          <input type="color" class="form-control" placeholder="Home Color" name="homeJerseyColor" value="{{cTeam.homeJerseyColor}}">
        </div>
        <div class="form-group">
          <label>Away Jersey Color</label>
          <input type="color" class="form-control" placeholder="Away Color" name="awayJerseyColor" value="{{cTeam.awayJerseyColor}}">
        </div>
        {{#if cLeagues.count}}
          <div class="form-group">
            <label for="league-name">League Name</label>
            <select id="league-name" class="selectpicker league-selection">
              {{#each cLeagues}}
                {{> LeagueItem}}
              {{/each}}
            </select>
          </div>
          {{else}}
           <div class="form-group">
            <label class="control-label sr-only" for="league-name">League Name</label>
            <input id="league-name" type="text" value="{{cTeam.leagueId}}" class="form-control" placeholder="League Name" name="leagueName">
          </div>
          {{/if}}
          {{#if cSeasons.count}}
          <div class="form-group">
            <label for="season-name">Season Name</label>
            <select id="league-name" class="selectpicker league-selection">
              {{#each cSeasons}}
                {{> SeasonItem}}
              {{/each}}
            </select>
          </div>
          {{else}}
          <div class="form-group">
            <label class="control-label sr-only" for="league-name">Season Name</label>
            <input id="season-name" type="text" value="" class="form-control" placeholder="Season Name" name="seasonName">
          </div>
          {{/if}}
        <button type="submit" class="btn btn-large btn-primary pull-right">Update Team</button>
        <a class="btn btn-default pull-left" href="{{pathFor 'TeamList' _id=sTeamId}}">Cancel</a>
      </form>
    </div>
  </div>
</template>

