<template name="TeamNew">
  {{#if sAddTeam}}
    <h3 class="page-header">Add Team</h3>
    <p>Add your team details below:</p>
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="pull-right close-panel"><i class="fa fa-times"></i></span>
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        <h3 class="panel-title">Add Team</h3>
      </div>
      <div class="panel-body">
        <form id="new-team-form">
          <div class="form-group {{errorClass 'name'}}">
            <label class="control-label sr-only" for="teamName">Team Name</label>
            <div class="controls">
              <input id="teamName" type="text" class="form-control" placeholder="Team Name" name="teamName">
              <span class="help-block">{{errorMessage 'name'}}</span>
            </div>
          </div>
          <div class="form-group">
            <label class="sr-only" for="coachName">Coach Name</label>
            <input id="coachName" type="text" class="form-control" placeholder="Coach Name" name="coachName">
          </div>
          <div class="form-group">
            <label class="sr-only" for="coachEmail">Coach Email</label>
            <div class="input-group">
              <span class="input-group-addon">@</span>
              <input id="coachName" type="email" class="form-control" placeholder="Coach Email" name="coachEmail">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label sr-only" for="logoUrl">Logo URL</label>
            <input id="logoUrl" type="text" value="" class="form-control" placeholder="http://example.com/logo.jpg" name="logoUrl">
          </div>
          <div class="form-group">
            <label>Home Jersey Color</label>
            <input type="color" class="form-control" placeholder="Home Color" name="homeJerseyColor">
          </div>
          <div class="form-group">
            <label>Away Jersey Color</label>
            <input type="color" class="form-control" placeholder="Away Color" name="awayJerseyColor">
          </div>
          {{#if cLeagues.count}}
          <div class="form-group">
            <label for="league-name">League Name</label>
            <select name="leagueName" class="selectpicker league-selection">
            <option>Choose a League</option>
              {{#each cLeagues}}
                {{> LeagueItem}}
              {{/each}}
            </select>
            <a href="{{pathFor 'LeagueList'}}">Create A New League</a>
          </div>
          {{else}}
           <div class="form-group">
            <label class="control-label sr-only" for="league-name">League Name</label>
            <input id="league-name" type="text" value="" class="form-control" placeholder="League Name" name="leagueName">
            <a href="{{pathFor 'LeagueNew'}}">Create A New League</a>
          </div>
          {{/if}}
          {{#if cSeasons.count}}
          <div class="form-group">
            <label for="season-name">Season Name</label>
            <select id="season-name" name="seasonName" class="selectpicker season-selection">
              {{#each cSeasons}}
                {{> SeasonItem}}
              {{/each}}
            </select>
          </div>
          {{else}}
          <div class="form-group">
            <label class="control-label sr-only" for="season-name">Season Name</label>
            <input id="season-name" type="text" value="" class="form-control" placeholder="Season Name" name="seasonName">
          </div>
          {{/if}}
          <button type="submit" class="btn btn-large btn-success pull-right">Create Team</button>
          <a class="btn btn-default pull-left close-panel">Cancel</a>
        </form>
      </div>
    </div>
  {{/if}}
  <!-- end sAddTeam check -->
</template>

