<template name="PlayerAdd">
  <!-- is roster completed -->
  {{#if rosterCompleted}}
  <!-- show nothing if it is completed -->
  {{else}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Add Players To Roster</h3>
    </div>
    <div class="panel-body">
      <div id="addPlayerStatus" class="alert alert-danger" role="alert"></div>
      <form id="teamRosterForm">
        {{#if maxPlayers}}

        <label>Add Players To Your Roster</label>
        <div class="team-roster">
          <div class="form-group">
            <label class="sr-only">Player {{rosterCountPlusOne}}</label>
            <div class="input-group">
              <input type="text" required class="form-control" placeholder="Player {{rosterCountPlusOne}}" name="players[]">
              <div class="input-group-addon">
                <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
            </div>
          </div>
        </div>
        <a class="add-player btn btn-default" role="button">Add Another Player</a>
        <button type="submit" class="btn btn-large btn-success pull-right">Submit Players</button>

        {{else}}
        <div class="alert alert-danger" role="alert">You have reached the max of your player limit on your roster (24). If you want to add more players please remove existing players from your roster.</div>
        {{/if}}
      </form>
    </div>
  </div>
  <!-- end check for roster completed if -->
  {{/if}}
</template>

