$facebook: #3B5998;
$github:   #333333;
$google:   #DD4B39;
$twitter:  #55ACEE;
$error:    #FF0000;
$black:    #000000;
$grey:     #D7D7D7;
$white:    #FFFFFF;
$green:    #008000;
$yellow:   #FFFF00;
