// mouse cursor for all drag/drop and trashcan remove icons
  ol li,
  .fa-eye {
    cursor: pointer;
  }
  
  // game reminder
  ol.hover.not-playing {
    background-color: #f00;
    border: 3px dashed #000;
    color: #fff;
  }
  
  ol.hover.yes-playing {
    background-color: green;
    border: 3px dashed #000;
    color: #fff;
  }
  
  ol.hover.no-reply {
    background-color: yellow;
    border: 3px dashed #000;
    color: #fff;
  }
