<template name="StartingList">
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <h3>Choose Your Starting Lineup</h3> {{> PlayerPlainList}}
      <h4>Which players will start for this game?</h4>
      <p>You should have first chosen your formation. If you haven't, <a href="{{pathFor 'FormationNew' _id=sGameId}}">click here first</a>.</p>
      <p>You also should have named your positions. If you haven't, <a href="{{pathFor 'PositionNew' _id=sGameId}}">click here first.</a></p>
      <p>If you chose your formation and named your positions you are now ready select your starting team. It's easy, <strong>just drag and drop the players from your roster to the shirts representing positions on the field</strong>field.</p>
      <p>When you are finished and satisfied with your starting lineup, click on the 'Back To Game Info' button below. You will be able to change this starting lineup anytime you want.</p>
      <p><a href="{{pathFor 'GameShow' _id=sGameId}}" class="btn btn-default">Back To Game Info</a></p>
    </div>
    <div class="col-sm-6 col-md-6">
      {{> StartingFieldList}} aaa
    </div>
  </div>
</template>

