<template name="FieldList">
  {{#if sFormationCreated}}
  <!-- <div class="field frm-{{cGame.myFormation}}"> -->
  {{/if}}
  <div class="field frm-{{cGame.myFormation}}">
    <div id="player01" class="droppable"><img src="/img/goalie_jersey.png" alt="goalie"></div>
    <div id="player02" class="droppable"></div>
    <div id="player03" class="droppable"></div>
    <div id="player04" class="droppable"></div>
    <div id="player05" class="droppable"></div>
    <div id="player06" class="droppable"></div>
    <div id="player07" class="droppable"></div>
    <div id="player08" class="droppable"></div>
    <div id="player09" class="droppable"></div>
    <div id="player10" class="droppable"></div>
    <div id="player11" class="droppable"></div>

  </div>
</template>

<template name="StartingFieldList">
  {{#if sFormationCreated}}
  <!-- <div class="field frm-{{cGame.myFormation}}"> -->
  {{/if}}
  <div class="drop-status"></div>
  <div class="starting-lineup field frm-{{cGame.myFormation}}">
    <div id="player01"><img src="/img/goalie_jersey.png" alt="goalie"></div>
    <div id="player02"></div>
    <div id="player03"></div>
    <div id="player04"></div>
    <div id="player05"></div>
    <div id="player06"></div>
    <div id="player07"></div>
    <div id="player08"></div>
    <div id="player09"></div>
    <div id="player10"></div>
    <div id="player11"></div>

  </div>
</template>

