<template name="FieldList">
  <div class="field-parent">
    {{#if cGame.myFormation}}
      <div class="field frm-{{cGame.myFormation}}">
        <div id="player01" class="droppable"><img src="/img/goalie_jersey.png" alt="goalie"></div>
        <div id="player02" class="droppable"></div>
        <div id="player03" class="droppable"></div>
        <div id="player04" class="droppable"></div>
        <div id="player05" class="droppable"></div>
        <div id="player06" class="droppable"></div>
        <div id="player07" class="droppable"></div>
        <div id="player08" class="droppable"></div>
        <div id="player09" class="droppable"></div>
        <div id="player10" class="droppable"></div>
        <div id="player11" class="droppable"></div>

      </div>
    {{else}}
      <div class="field frm-4-4-2">
        <div id="player01" class="droppable"><img src="/img/goalie_jersey.png" alt="goalie"></div>
        <div id="player02" class="droppable"></div>
        <div id="player03" class="droppable"></div>
        <div id="player04" class="droppable"></div>
        <div id="player05" class="droppable"></div>
        <div id="player06" class="droppable"></div>
        <div id="player07" class="droppable"></div>
        <div id="player08" class="droppable"></div>
        <div id="player09" class="droppable"></div>
        <div id="player10" class="droppable"></div>
        <div id="player11" class="droppable"></div>

      </div>
    {{/if}}

  </div>
</template>

<template name="StartingFieldList">
  <div class="drop-status"></div>
  <div class="field-parent">
    <div class="starting-lineup field frm-{{cGame.myFormation}}">
      <div id="player01"></div>
      <div id="player02"></div>
      <div id="player03"></div>
      <div id="player04"></div>
      <div id="player05"></div>
      <div id="player06"></div>
      <div id="player07"></div>
      <div id="player08"></div>
      <div id="player09"></div>
      <div id="player10"></div>
      <div id="player11">
        <!-- {{cPlayerGameInfo.player11.playerFullName}} -->
      </div>

    </div>
  </div>
  {{#if Template.subscriptionsReady}}
    <table class="table">
      <caption>Starting Lineup</caption>
      <thead>
        <tr>
          <th>#</th>
          <th>Position</th>
          <th>Player Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>{{cPlayerGameInfo.player01.fieldPosition}}</td>
          <td>{{cPlayerGameInfo.player01.playerFullName}}</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>{{cPlayerGameInfo.player02.fieldPosition}}</td>
          <td>{{cPlayerGameInfo.player02.playerFullName}}</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>{{cPlayerGameInfo.player03.fieldPosition}}</td>
          <td>{{cPlayerGameInfo.player03.playerFullName}}</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>{{cPlayerGameInfo.player04.fieldPosition}}</td>
          <td>{{cPlayerGameInfo.player04.playerFullName}}</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>{{cPlayerGameInfo.player05.fieldPosition}}</td>
          <td>{{cPlayerGameInfo.player05.playerFullName}}</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>{{cPlayerGameInfo.player06.fieldPosition}}</td>
          <td>{{cPlayerGameInfo.player06.playerFullName}}</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>{{cPlayerGameInfo.player07.fieldPosition}}</td>
          <td>{{cPlayerGameInfo.player07.playerFullName}}</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>{{cPlayerGameInfo.player08.fieldPosition}}</td>
          <td>{{cPlayerGameInfo.player08.playerFullName}}</td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>{{cPlayerGameInfo.player09.fieldPosition}}</td>
          <td>{{cPlayerGameInfo.player09.playerFullName}}</td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>{{cPlayerGameInfo.player10.fieldPosition}}</td>
          <td>{{cPlayerGameInfo.player10.playerFullName}}</td>
        </tr>
        <tr>
          <th scope="row">11</th>
          <td>{{cPlayerGameInfo.player11.fieldPosition}}</td>
          <td>{{cPlayerGameInfo.player11.playerFullName}}</td>
        </tr>
      </tbody>
    </table>
  {{/if}}
  <a class="btn btn-default pull-right" href="{{pathFor 'GameReminderShow' _id=sGameId}}">Add Substitutes</a>
  <a class="btn btn-default pull-right" href="{{pathFor 'GameReminderShow' _id=sGameId}}">Add Not Playing</a>
</template>

