<template name="FieldList">
    {{#if sFormationCreated}}
    <!-- <div class="field frm-{{cGame.myFormation}}"> -->
    {{/if}}
    <div class="field frm-4-4-2">
        <div id="player01" class="droppable"><img src="/img/goalie_jersey.png" alt="goalie"></div>
        <div id="player02" class="droppable"></div>
        <div id="player03" class="droppable"></div>
        <div id="player04" class="droppable"></div>
        <div id="player05" class="droppable"></div>
        <div id="player06" class="droppable"></div>
        <div id="player07" class="droppable"></div>
        <div id="player08" class="droppable"></div>
        <div id="player09" class="droppable"></div>
        <div id="player10" class="droppable"></div>
        <div id="player11" class="droppable"></div>

    </div>
</template>
