<template name="LeagueEdit">
  <h3 class="page-header">Edit League</h3>
  <div class="panel panel-default">

    <div class="panel-heading">
      <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
      <h3 class="panel-title">{{cLeague.leagueName}}</h3>
    </div>
    <div class="panel-body">

      <h4>Update Your League Info</h4>
      <form id="edit-league-form">
        <p>
          <label class="sr-only">League Name</label>
          <input type="text" required class="form-control" placeholder="League Name" name="leagueName" value="{{cLeague.leagueName}}">
        </p>
        <button type="submit" class="btn btn-large btn-primary pull-right">Update League</button>
      </form>
    </div>
  </div>

</template>

