<template name="LeagueShow">
  <h3 class="page-header">League Details</h3>
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
      <h3 class="panel-title">{{cLeague.leagueName}} League Info</h3>
    </div>
    <div class="panel-body">
      <p><strong>League Name:</strong> {{> editableText context=cLeague collection="leagues" field="leagueName"}}</p>

      <hr>
        <a class="btn btn-default pull-left" href="{{pathFor 'GameEdit' _id=sGameId}}">Back To My Game</a>
        <a class="btn btn-default pull-right" href="{{pathFor 'GameList' _id=sTeamId}}">Edit League</a>

    </div>
  </div>

</template>

