<template name="GameShow">
  <h3 class="page-header"><a href="{{pathFor 'TeamShow' _id=sTeamId}}">{{cTeam.teamName}}</a> <img src="{{cTeam.logoUrl}}" alt="{{cTeam.teamName}} Logo"> Game Details</h3>

    <strong>Your game is created!</strong>
    <p>From this page you will be able to edit your team information, choose a game formation, choose your starting players, substitues and determine who can not play.</p>
  <hr>
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
      <h3 class="panel-title"> Game Date/Time </h3>
    </div>
    <div class="panel-body">
      {{#if rvEditGameTime}}
        <form id="update-game-time">
          <p>Current Game Date/Time: {{formatDate cGames.gameDateTime}}</p>
          <div class="form-group">
            <div class='input-group date date-time-picker'>
              <input type="text" name="gameDateTime" value="{{formatDate cGames.gameDateTime}}" required class="form-control" />
              <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
          <a class="btn btn-default cancel-edit pull-left">Cancel</a>
          <button type="submit" class="btn btn-default pull-right game-time">Update</button>
        </form>
      {{else}}
        <p><strong>Date: </strong> {{formatDate cGames.gameDateTime}}</p>
        <p><strong>Time: </strong> {{formatTime cGames.gameDateTime}}</p>
        <p><a class="btn btn-default pull-right edit-game-time">Edit</a></p>
      {{/if}}
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
      <h3 class="panel-title">Home or Away Team</h3>
    </div>
    <div class="panel-body">

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        {{#if cGames.homeTeam}}
          <div class="row">
            <p>We are the HOME team.</p>
          </div>
          <div class="row">
            <p>We wear this jersey:</p>
            <img style="background-color:{{cTeam.homeJerseyColor}}" src="/img/jersey_200x200.png" height="50" width="50" alt="home jersey">
          </div>
        {{else}}
          <div class="row">
            <p>We are the AWAY team.</p>
          </div>
          <div class="row"><img style="background-color:{{cTeam.awayJerseyColor}}" src="/img/jersey_200x200.png" height="50" width="50" alt="home jersey"></div>

        {{/if}}

      </div>

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <p>
          <strong> Our Opponent: </strong> {{cGames.opponentName}}
        </p>
        <p><a class="btn btn-default pull-right" href="{{pathFor 'GameEdit' _id=sGameId}}">Edit</a></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
      <h3 class="panel-title"><a target="_blank" href="{{cGames.fieldUrl}}">{{cGames.fieldName}}</a></h3>
    </div>
    <div class="panel-body">
      {{> Map}}
    </div>
  </div>
</template>




