<template name="layout">
  {{> Header}}
  <div class="container">
    {{> Breadcrumbs}}
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        {{> Errors }} {{> yield}}
      </div>
    </div>
    <div class="row">
      {{> yield region="footer"}}
    </div>
  </div>
  <!-- END .container -->
</template>

<template name="TwoColumn">
  {{> Header}}
  <!-- {{> Error}} -->
  <div class="container">
    {{> Breadcrumbs}}
    {{> NestedBreadcrumbs}}
    {{> GameReminderBreadcrumbs}}
    <div class="row">
      <div class="col-md-6 col-xs-12 col-sm-12">
        {{> yield}}
      </div>
      <div class="col-md-6 col-xs-12 col-sm-12"> {{> yield region="sidebar"}}
      </div>
    </div>
    <div class="row">
      {{> yield region="footer"}}
    </div>
  </div>
</template>

<template name="TwoColumnGameReminder">
  {{> Header}}
  <!-- {{> Error}} -->
  <div class="container">
    {{> Breadcrumbs}}
    {{> NestedBreadcrumbs}}
    {{> GameReminderBreadcrumbs}}
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6"> {{> yield region="sidebar"}}
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
        {{> yield}}
      </div>
    </div>
    <div class="row">
      {{> yield region="footer"}}
    </div>
  </div>
</template>


<template name="GameReminder">
  {{> Header}}
  <!-- {{> Error}} -->
  <div class="container">
    {{> Breadcrumbs}}
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4">
        {{> yield}}
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        {{> yield region="middle"}}
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        {{> yield region="sidebar-top"}} 
        {{> yield region="sidebar-bottom"}}
      </div>
    </div>
    <div class="row">
      {{> yield region="footer"}}
    </div>
  </div>
</template>

<template name="StartersAndSubs">
  {{> Header}}
  <!-- {{> Error}} -->
  <div class="container">
    {{> Breadcrumbs}}
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4">
        {{> yield}}
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        {{> yield region="sidebar-top"}} {{> yield region="sidebar-bottom"}}
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        {{> yield region="right"}}
      </div>
    </div>
    <div class="row">
      {{> yield region="footer"}}
    </div>
  </div>
</template>

