<template name="PositionNew">
  <h1>Name Field Positions</h1>

  <div class="instructions">
    <p>Every coach has different names for common positions so rather than get caught up in what a position should be called, use the names you want.</p>
    <p>Tip: Start at the top left box, enter your position name, and hit 'tab'. Keep doing that until you have named all the positions.</p>
    <p>Obviously, you won't have to name the goalie. I think we all can agree on that name.</p>
  </div>
  <hr>
  <div class="field frm-4-4-2">
    <form id="newPositionForm">
      <div id="player01"><img src="/img/goalie_jersey.png" alt="goalie"></div>
      <div id="player02">
        <input type="text" required class="form-control" placeholder="Position Name" name="player02" tabindex="6">
      </div>
      <div id="player03">
        <input type="text" required class="form-control" placeholder="Position Name" name="player03" tabindex="3">
      </div>
      <div id="player04">
        <input type="text" required class="form-control" placeholder="Position Name" name="player04" tabindex="5">
      </div>
      <div id="player05">
        <input type="text" required class="form-control" placeholder="Position Name" name="player05" tabindex="4">
      </div>
      <div id="player06">
        <input type="text" required class="form-control" placeholder="Position Name" name="player06" tabindex="7">
      </div>
      <div id="player07">
        <input type="text" required class="form-control" placeholder="Position Name" name="player07" tabindex="10">
      </div>
      <div id="player08">
        <input type="text" required class="form-control" placeholder="Position Name" name="player08" tabindex="8">
      </div>
      <div id="player09">
        <input type="text" required class="form-control" placeholder="Position Name" name="player09" tabindex="9">
      </div>
      <div id="player10">
        <input type="text" required class="form-control" placeholder="Position Name" name="player10" tabindex="1">
      </div>
      <div id="player11">
        <input type="text" required class="form-control" placeholder="Position Name" name="player11" tabindex="2">
      </div>
      <button type="submit" class="add-position-btn btn btn-large btn-success pull-right">Add Positions Names</button>
    </form>

  </div>
</template>

