<template name="PositionNew">
  <h3>Enter Your Position Names</h3>
  <div class="field frm-4-4-2">
    <form id="newPositionForm">
      <div id="player01"><img src="/img/goalie_jersey.png" alt="goalie"></div>
      <div id="player02">
        <input type="text" required class="form-control" placeholder="Position Name" name="player02">
      </div>
      <div id="player03">
        <input type="text" required class="form-control" placeholder="Position Name" name="player02">
      </div>
      <div id="player04">
        <input type="text" required class="form-control" placeholder="Position Name" name="player03">
      </div>
      <div id="player05">
        <input type="text" required class="form-control" placeholder="Position Name" name="player04">
      </div>
      <div id="player06">
        <input type="text" required class="form-control" placeholder="Position Name" name="player05">
      </div>
      <div id="player07">
        <input type="text" required class="form-control" placeholder="Position Name" name="player06">
      </div>
      <div id="player08">
        <input type="text" required class="form-control" placeholder="Position Name" name="player07">
      </div>
      <div id="player09">
        <input type="text" required class="form-control" placeholder="Position Name" name="player08">
      </div>
      <div id="player10">
        <input type="text" required class="form-control" placeholder="Position Name" name="player09">
      </div>
      <div id="player11">
        <input type="text" required class="form-control" placeholder="Position Name" name="player10">
      </div>
      <button type="submit" class="btn btn-large btn-success pull-right">Add Positions</button>
    </form>

  </div>
</template>

