<template name="SeasonList">
  <h3 class="page-header">Seasons</h3>

    <p>Click on a season to enter game information for that season.</p>
  <hr>
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
      <h3 class="panel-title">My Season <span class="badge">{{cSeasons.count}}</span></h3>
    </div>

    <div class="panel-body">
      <!-- do we have seasons yet? -->
      {{#if cSeasons.count}}
        <!-- yes? - then show them -->
        <p>Here are all your Seasons:</p>
        <ol class="season-list">
          <!-- loop through seasons -->
          {{#each cSeasons}}
            <li>
              <a href="{{pathFor 'SeasonShow'}}">{{seasonName}}</a>
              <a class="remove"><i class="fa fa-trash fa-2"></i></a>
            </li>
          {{/each}}
        </ol>
        <hr>
      {{else}}
        <a class="btn btn-default pull-right new-season">Add Season</a>
        <!-- no seasons - time to create them -->
        <p>You have not created any seasons yet. It's time for you to take the plunge and create a season.</p>
      {{/if}}

      
        <a class="btn btn-default pull-left" href="{{pathFor 'GameShow' _id=sGameId}}">Back To My Game</a>

        <a class="btn btn-default pull-right new-season">Add Another Season</a>
      
    </div>

  </div>
</template>

