<template name="SeasonNew">
  {{#if sAddSeason}}
    <h3 class="page-header">Add Seasons</h3>

    <div class="instructions">
      <p>Leagues have many seasons for the different teams they have. Enter your season name below.</p>
    </div>
    <hr>
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="pull-right close-panel"><i class="fa fa-times"></i></span>
        <span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span>
        <h3 class="panel-title">Add Season</h3>
      </div>
      <div class="panel-body">
        <p>Use the form below to create your Season. Required fields are outlined in red.</p>
        <form id="new-season-form">
          <!-- other fields: season fees, start date, end date, holidays -->
          <div class="form-group {{errorClass 'name'}}">
            <label class="control-label sr-only" for="season-name">Season Name</label>
            <div class="controls">
              <input id="season-name" type="text" class="form-control" placeholder="Season Name" name="seasonName">
              <span class="help-block">{{errorMessage 'name'}}</span>
            </div>
          </div>
          <button type="submit" class="btn btn-large btn-success pull-right">Create Season</button>
        </form>
      </div>
    </div>
  {{/if}}
</template>

